:root{
    /*las variables guardan valores en la memoria del navegador,esto
    me permite reutilzay ordenar mejor el codigo*/

    /*esto es declarar las variables y asignar un valor*/
    --naranja:#ff9900;
    --negro:#000;
    --blanco:#fff;
    --amarillo: rgb(255, 217, 0);
    --espacio:40px;



}

/*resetea algunos valores predeterminados del navegador*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body {
background-image: url('images/pattern.jpg');
background-color: #27262b;
font-family: Arial, Helvetica, sans-serif;

}

/*repetir imagen de fondo?
    background-repeat
        repeat: repetir en X y en Y (predeterminado)
        repeat-x:Eje X
        repeat-Y:Eje Y
        no- repeat: no repite nada se queda en la esq sup iz


*/

.cabecera,
.wrap{
   
    max-width: 1000px;
    margin: auto;
    
}
.cabecera h1{
    color: var(--naranja);
    font-size: 24px;
    
}
.cabecera{
   
    display: flex;
    justify-content: space-between;/*separa en el eje X*/
    align-items: center;/*alinea en el eje Y*/
    padding: bottom 8px; ;
}
.wrap{

    /*utilzar la variable previamente declarada*/
    background-color: var(--blanco);
    border-radius: 8px 8px 0 0;
}

/*
---------------------------
NAVEGACION
------------------------
*/
.nav{
    background-color: var(--naranja);
    border-radius: 8px 8px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    
}

.nav-lista {

    
    /* sacamos los puntitos*/
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-lista_item{
   
   border-right: 1px solid var(--amarillo);
 
   text-align: center;
   flex-grow: 1;
   
  
}
.nav-link {
    
   
    color:  var(--blanco);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}
/*
.nav-form {
    
    background-color: tomato;
}*/

/*
---------------------------
SLIDER O CARRUSEL
------------------------
*/
.imagen {

    text-align: center;
    margin-bottom:  var(--espacio);
}

/*
------------------------
PRINCIPAL
------------------------

*/


.principal {
    
    display: grid;
    grid-template-columns: 280px 1fr;
    gap:20px;
    margin-bottom: var(--espacio);
    margin-left: 30px;
    margin-right: 30px;
}

/*
----------------------------

CATEGORIAS
------------------------------



*/
.categorias {
    background-color: darkgreen;
}


/*
-------------------------
PRODUCTOS
-----------------------------



*/
.productos {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


/* Solución 3, con un div adicional */
.lampara-titulo {
    margin-bottom: 20px;

    font-size: 20px;
}
.lampara-info {
    display: flex;
    align-items: flex-start;
}
.lampara-imagen {
    margin-right: 20px;
}
​
/* Solución 2, con un div adicional
.lampara-titulo {
    margin-bottom: 20px;
}
.lampara-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
*/
/*
Solución 1 para un HTML simple
.lampara {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
​
.lampara-titulo {
    Este elemento ocupa todas las columnas de su fila
    grid-column: 1 / -1;
}
*/